In [1]:
%load_ext sql

In [2]:
%sql postgresql://transom:student@127.0.0.1/sparkifydb

In [3]:
%sql SELECT * FROM songplays order by songplay_id desc LIMIT 115;

 * postgresql://transom:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [4]:
%sql SELECT * FROM users LIMIT 15;

 * postgresql://transom:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://transom:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://transom:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [10]:
%sql SELECT * FROM time limit 30;

 * postgresql://transom:***@127.0.0.1/sparkifydb
30 rows affected.

[(datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 4, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 4, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 9, 56, 28, 796000), 9, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 0, 47, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 4, 7, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 8, 28, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 12, 0, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 27, 43, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 33, 44, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 36, 22, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 40, 14, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 43, 23, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 10, 46, 18, 796000), 10, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 11, 14, 51, 796000), 11, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 13, 41, 22, 796000), 13, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 13, 52, 23, 796000), 13, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 13, 58, 22, 796000), 13, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 5, 43, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 7, 54, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 9, 36, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 14, 29, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 15, 6, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 17, 52, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 19, 37, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 24, 58, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 30, 5, 796000), 14, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 14, 33, 53, 796000), 14, 11, 45, 11, 2018, 6)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).